$primary: #22844E;
$secondary: #4DDE8E;
$dark: #053018;
$info: #010C06;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Roboto", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
